SECRET_KEY=django-insecure-dev-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

UFSM_LIBRARY_AUTH_URL=https://portal.ufsm.br/biblioteca/leitor/j_security_check
UFSM_LIBRARY_AUTH_TIMEOUT=15
LOGIN_REDIRECT_URL=/
LOGOUT_REDIRECT_URL=/login/
